In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("orders_final_cleaned.csv")
df.head()

,order_id,product_id,warehouse_id,quantity_ordered,order_date,expected_fulfillment_date,status
0,O00001,P0030,W010,148,2024-08-02,2024-08-09,Cancelled
1,O00002,P0072,W005,817,2024-06-03,2024-06-09,Open
2,O00003,P0004,W002,909,2024-08-29,2024-09-03,Open
3,O00004,P0214,W004,165,2024-11-22,2024-11-27,Backordered
4,O00005,P0416,W003,865,2024-01-13,2024-01-21,Backordered

In [3]:
df.isnull().sum()

order_id                       0
product_id                     0
warehouse_id                   0
quantity_ordered               0
order_date                     0
expected_fulfillment_date      0
status                       160
dtype: int64

In [4]:
status_filled_null =df['status'].value_counts().index
status_filled_null

Index(['Backordered', 'Fulfilled', 'Cancelled', 'Open'], dtype='object', name='status')

In [5]:
status_fillna_values = np.random.choice(status_filled_null,size=160)

In [6]:
status_null_index = df[df['status'].isnull()].index

In [7]:
df.loc[status_null_index,'status']= status_fillna_values

In [8]:
df['status'].isnull().sum()

0

In [9]:
df.to_csv("orders_cleaned_final.csv", index=False)

In [10]:
from IPython.display import FileLink

FileLink("orders_cleaned_final.csv")

C:\Users\Admin\orders_cleaned_final.csv

In [11]:
df1 = pd.read_csv("shipments_final_cleaned.csv")
df1.head()

,shipment_id,supplier_id,product_id,warehouse_id,quantity,shipment_date,expected_delivery_date,delivery_status
0,SH00001,S0095,P0454,W003,676,2024-09-01,2024-09-03,NaN
1,SH00002,S0012,P0442,W003,792,2024-02-10,2024-02-15,NaN
2,SH00003,S0006,P0468,W007,351,2024-06-07,2024-06-12,NaN
3,SH00004,S0034,P0255,W005,219,2024-12-08,2024-12-12,In Transit
4,SH00005,S0084,P0148,W009,316,2024-07-01,2024-07-05,NaN

In [12]:
df1.isnull().sum()

shipment_id                 0
supplier_id                 0
product_id                  0
warehouse_id                0
quantity                    0
shipment_date               0
expected_delivery_date      0
delivery_status           240
dtype: int64

In [13]:
delivery_status_filled_null = df1['delivery_status'].value_counts().index
delivery_status_filled_null

Index(['Pending', 'In Transit', 'Delivered', 'Delayed'], dtype='object', name='delivery_status')

In [14]:
delivery_status_fillna_values  = np.random.choice(delivery_status_filled_null,size = 240)

In [15]:
delivery_status_null_index = df1[df1['delivery_status'].isnull()].index

In [16]:
df1.loc[delivery_status_null_index,'delivery_status']= delivery_status_fillna_values

In [17]:
df1.isnull().sum()

shipment_id               0
supplier_id               0
product_id                0
warehouse_id              0
quantity                  0
shipment_date             0
expected_delivery_date    0
delivery_status           0
dtype: int64

In [18]:
df1.to_csv("shipments_cleaned_final.csv", index=False)

In [19]:
from IPython.display import FileLink

FileLink("shipments_cleaned_final.csv")

C:\Users\Admin\shipments_cleaned_final.csv

In [20]:
df2 = pd.read_csv("products_final_cleaned.csv")
df2.head()

,product_id,name,category,unit_price,unit,description,total_quantity_ordered,total_quantity_shipped,total_quantity_on_hand
0,P0001,Fuel Injector 625,Electrical Systems,795,pieces,Fuel Injector 625 - high-quality automotive part.,1715.0,2181.0,6710.0
1,P0002,Shock Absorber 984,Engine Parts,8022,pieces,Shock Absorber 984 - high-quality automotive p...,620.0,3301.0,14268.0
2,P0003,Brake Pad Set 119,Engine Parts,13042,pieces,Brake Pad Set 119 - high-quality automotive part.,1520.0,5305.0,9623.0
3,P0004,Shock Absorber 452,Transmission,3648,pieces,Shock Absorber 452 - high-quality automotive p...,909.0,2175.0,11070.0
4,P0005,Spark Plug 445,Braking System,20982,pieces,NaN,1786.0,4498.0,15970.0

In [21]:
df2.isnull().sum()

product_id                 0
name                       0
category                   0
unit_price                 0
unit                       0
description               40
total_quantity_ordered     0
total_quantity_shipped     0
total_quantity_on_hand     0
dtype: int64

In [22]:
products_filled_null = ['Shock Absorber 656 - high-quality automotive part.',
'Starter Motor 724 - high-quality automotive part.',
'Fuel Injector 170 - high-quality automotive part.',
'Ignition Coil 862 - high-quality automotive part.',
'Spark Plug 441 - high-quality automotive part.',
'Battery 712 - high-quality automotive part.',
'Brake Pad Set 143 - high-quality automotive part.',
'Battery 212 - high-quality automotive part.',
'Battery 268 - high-quality automotive part.',
'Shock Absorber 709 - high-quality automotive part.']
products_filled_null

['Shock Absorber 656 - high-quality automotive part.',
 'Starter Motor 724 - high-quality automotive part.',
 'Fuel Injector 170 - high-quality automotive part.',
 'Ignition Coil 862 - high-quality automotive part.',
 'Spark Plug 441 - high-quality automotive part.',
 'Battery 712 - high-quality automotive part.',
 'Brake Pad Set 143 - high-quality automotive part.',
 'Battery 212 - high-quality automotive part.',
 'Battery 268 - high-quality automotive part.',
 'Shock Absorber 709 - high-quality automotive part.']

In [23]:
products_fillna_values  = np.random.choice(products_filled_null,size = 40)

In [24]:
products_null_index = df2[df2['description'].isnull()].index

In [25]:
df2.loc[products_null_index,'description']= products_fillna_values

In [26]:
df2.isnull().sum()

product_id                0
name                      0
category                  0
unit_price                0
unit                      0
description               0
total_quantity_ordered    0
total_quantity_shipped    0
total_quantity_on_hand    0
dtype: int64

In [27]:
df2.to_csv("products_cleaned_final.csv", index=False)

In [28]:
from IPython.display import FileLink

FileLink("products_cleaned_final.csv")

C:\Users\Admin\products_cleaned_final.csv